@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;

    --navbar-height: 8vh;

    --bg-primary: #fdfdfd;
    --bg-secondary: #a5e9e1;

    --color-primary: #e8ffe8;
    --color-secondary: #291f71;

    --bg-intro: #ff847c;
    --bg-about: #cabbe9;
    --bg-projects: #ffcef3;
    --bg-contact: #a1eafb;
}

body {
    padding: 0;
    margin: 0;
    background: var(--bg-primary);
}

main * {
    text-align: center;
    color: var(--color-primary);
}

main section {
    height: 100vh;

    /* Placeholders */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

#intro {
    height: calc(100vh - var(--navbar-height)) !important;
    background-color: var(--bg-intro);
}

#about {
    background-color: var(--bg-about);
}

#projects {
    background-color: var(--bg-projects);
}

#contact {
    background-color: var(--bg-contact);
}

/* Custom scrollbar */
body::-webkit-scrollbar {
    /* width: 0.8em; */
    width: 0; /* No scrollbar */
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: #3d3d3a;
    outline: 1px solid slategrey;
}